@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

    text-decoration: none;
}
li {
    list-style-type: none;
    font-style: "Quicksand", sans-serif;
  }
a {
    color: inherit;
    font-style: "Quicksand", sans-serif;
} 
button{
    padding: 16px 40px;
    border-radius: 500px;
    text-transform: uppercase;
    color: var(--btn-link-bg-color);
    font-weight: 700;
    border: none;
    cursor: pointer;
    letter-spacing: 4px;
}
html, body {
    overflow-x: hidden;
}
body {
    background: var(--primary-color);
    font-family: Raleway, sans-serif;
    color: var(--text-color);
}
nav {
    width: 100%;
    padding: 20px;
    background: var(--nav-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
nav img {
    width: 160px;
}
.info-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
nav button {
    background: #b535f6;
}
.login-menu {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
}
.login-hbo {
    max-width: 400px;
    height: 500px;
    margin: 50px auto; /* Centraliza o formulário */
    padding: 30px;
    background-color: rgba(211, 211, 211, 0.06);
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}
.login-hbo h1 {
    font-size: 1.5rem;
    font-style: "Quicksand";
    text-transform: uppercase;
    text-align: center;
    margin-top: -45px;
    letter-spacing: 2px;
}
.label-email {
    font-size: 1.3rem;
}
.input-email,
.input-password {
    width: 300px;
    height: 60px;
    padding: 10px;
    margin-bottom: 15px;
    border:  1.2px solid rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    background: var(--form-field-bg-color);
}
.action-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.action-form button {
    width: 50%;
    height: 60px;
    background: linear-gradient(45deg, #9b34ef 0px, #490cb0 40px, transparent 150px);
}
.action-form a {
    color: var(--link-color)
}
.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 64px 0px 32px 0px;
    gap: 16px;

    text-transform: uppercase;
    font-weight: 500;
    color: var(--link-color);

}
.footer-signature {
    text-align: center;
    color: var(--link-color);
}
.fotter-social-infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px;
    gap: 32px;
}